[submodule "transport-core"]
	path = transport-core
	url = git@github.com:computational-chemical-engineering/transport-core.git
[submodule "sdflow"]
	path = sdflow
	url = git@github.com:computational-chemical-engineering/sdflow.git
[submodule "dem"]
	path = dem
	url = git@github.com:computational-chemical-engineering/dem.git
[submodule "morton"]
	path = morton
	url = git@github.com:computational-chemical-engineering/morton.git
[submodule "voronoi_dynamics"]
	path = voronoi_dynamics
	url = git@github.com:computational-chemical-engineering/voronoi_dynamics.git
