[submodule "transport-core"]
	path = core
	url = git@github.com:computational-chemical-engineering/peclet-core.git
[submodule "sdflow"]
	path = flow
	url = git@github.com:computational-chemical-engineering/peclet-flow.git
[submodule "dem"]
	path = dem
	url = git@github.com:computational-chemical-engineering/peclet-dem.git
[submodule "morton"]
	path = morton
	url = git@github.com:computational-chemical-engineering/peclet-morton.git
[submodule "vorflow"]
	path = voro
	url = git@github.com:computational-chemical-engineering/peclet-voro.git
[submodule "coupling"]
	path = coupling
	url = git@github.com:computational-chemical-engineering/peclet-coupling.git
[submodule "pnm"]
	path = pnm
	url = git@github.com:computational-chemical-engineering/peclet-pnm.git
